{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "react-app",
    "airbnb"
  ],
  "rules": {
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "import/prefer-default-export": "off",
    "arrow-parens": "off"
  }
}
