@import "styles/_colors";

[class^="cell-"] {
  display: flex;
  flex: 0 0 33%;
  svg {
    width: 40%;
    height: auto;
    margin: auto;
    fill: $primaryColor;
    &.isAI {
      fill: $secondaryColor;
    }
  }
}

.cell-2 {
  border-right: 2px solid $primaryColor;
  border-left: 2px solid $primaryColor;
}
