@import "styles/_colors";

[class^="cell-"] {
  display: flex;
  svg {
    width: 40%;
    height: auto;
    margin: auto;
    max-width: 65px;
    fill: $primaryColor;
    &.computer {
      fill: $secondaryColor;
    }
    &.hover {
      fill: rgba($primaryColor, .3);
    }
  }
}

.cell- {
  &2, &5, &8 {
    border-right: 1px solid rgba($primaryColor, .5);
    border-left: 1px solid rgba($primaryColor, .5);
  }
}

[class^='cell-']:nth-child(-n+6) {
  border-bottom: 1px solid rgba($primaryColor, .5);
}

.computerTurn {
  [class^="cell-"] {

  }
}
