@import "styles/_colors";

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  margin: auto 0;
  flex-grow: 1;
}

.loading {
  width: 20%;
  height: auto;
  fill: #6f6f6f;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
