@import "styles/_colors";

header {
  background-color: $backgroundColor;
  height: 100px;
  padding: 20px;
  color: white;
  h1 {
    font-weight: 300;
    margin: 0;
  }
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40px;
  width: auto;
}
