@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~normalize.css/normalize.css";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, .029);
}
